---
import Header from "../components/header.astro"
import MainCard from "../components/maincard.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>StockHunters</title>
	</head>
	<body>
		<Header></Header>
		<MainCard title="Gestiona tu inventario y ventas con precisión" content="StockHunters te ayuda a organizar tu negocio, ahorrar tiempo y vender más."></MainCard>
	</body>
</html>

<style>
	body{
		margin: 0px;
		font-family: 'Inter', sans-serif;
	}

</style>