---
import Button from "./button.astro";
---

<header>
  <a href="#inicio" class="logo-link">
    <picture class="logo">
      <source srcset="/icon.svg"  media="(max-width: 600px)">
      <img src="/logo.svg" class="logo" alt="Logo StockHunters"/>
    </picture >
    <!-- <img src="/logo.svg" alt="Logo StockHunters" class="logo" /> -->
  </a>
  <nav>
    <ul>
      <li><a href="#funcionalidades">Funcionalidades</a></li>
      <li><a href="#planes">Planes</a></li>
      <li><a href="#blog ">Blog</a></li>
      <Button url="/login" text="Iniciar Sesion"></Button>
    </ul>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100px;
    overflow: hidden;
    font-weight: 600;
    background-color: #ffffffb1;
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease-in-out;
  }

  .logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }

  .logo {
    height: 100%;
    width: auto;
    display: block;
  }
  
  nav ul li {  
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: inherit;
  }

  nav a:hover {
    color: #1A73E8;

  }
  @media screen and (max-width: 1200px) {
    header {
      padding: 0 30px;
    }
    
  }
  @media screen and (max-width: 800px) {
    nav ul li {
      visibility: hidden;
      display: none;
    }
  }
  @media screen and (max-width: 600px) {

    .logo {
      height: 80%;
    }
  }

</style>
